* {
  font-family: "Heebo", sans-serif;
  padding: 0px;
  margin: 0px;
}

nav {
  background-color: #9962d1;
  padding: 25px;
  height: 30px;
  overflow: hidden;
}

#nav-title {
  position: absolute;
  color: white;
  font-size: 25px;
  font-weight: 100%;
  margin-left: 20px;
  font-family: "Heebo", sans-serif;
  z-index: 1;
}

.background {
  position: relative;
  background-color: #9962d1;
  width: 100%;
  height: 250px;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.background::before,
.background::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  left: 0px;
  right: 0px;
  top: 205px;
  background-color: white;
  transform: skewY(-2deg);
  z-index: -1;
}

.section-container {
  display: flex;
  justify-content: center;
}

.background > img {
  position: absolute;
  width: 400px;
  height: 425px;
  top: -10%;
}

.accordian-item {
  border: 1px solid lightgrey;
  padding: 10px 0px;
  border-radius: 5px;
  width: 1000px;
}

#accordian {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spacing {
  width: 100%;
  height: 200px;
}

#accordian-section {
  width: 100%;
  height: 500px;
}
.accordian-head {
  display: grid;
  grid-template-columns: 900px 50px;
  padding-left: 40px;
}

.accordian-head {
  cursor: pointer;
}

.accordian-title {
  font-size: 18px;
}

.accordian-body {
  display: none;
  padding-left: 40px;
  margin-top: 10px;
  width: 950px;
}

.accordian-collapse {
  transition: transform 1s ease;
}

.accordian-expand {
  transition: transform 1s ease;
  transform: rotate(-180deg);
}

.accordian-body-show {
  padding-left: 40px;
  height: 100%;
  margin-top: 10px;
  width: 950px;
}

.accordian-body-sliding {
  height: 0px;
  display: block;
  overflow: hidden;
  padding-left: 40px;
  margin-top: 10px;
  width: 950px;
}
