<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='documentation.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" />
    <title>Propoint documentation</title>
  </head>
  <body>
    <header>
      <nav>
        <span id="nav-title">Propoint documentation</span>
      </nav>
    </header>
    <main>
      <section id="hero-section">
        <div class="background">
          <img
            src="{{ url_for('static', filename='documentation.svg') }}"
            alt="documents-img"
          />
        </div>
      </section>
      <div class="spacing"></div>
      <section id="accordian-section">
        <div id="accordian">
          <div class="accordian-item">
            <div class="accordian-head">
              <span class="accordian-title">Overview</span>
              <img
                src="{{ url_for('static', filename='expand_more.svg') }}"
                alt="expansion"
                class="accordian-collapse"
              />
            </div>
            <div class="accordian-body">
              <h1>Overview</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
                cupiditate ipsa tempore velit veritatis expedita corporis
                laborum molestias. Provident voluptate quasi, voluptates iure
                eos, aut in dolores nemo ut possimus ipsam soluta nostrum
                deleniti commodi eligendi similique. Molestias, impedit ab
                nostrum asperiores maxime qui ad modi tenetur explicabo? Magni
                ut iure corporis provident nesciunt eaque vero officia nulla non
                tempora, quae neque, perferendis nam optio deleniti? Pariatur
                cupiditate adipisci ab corrupti quod perspiciatis sed quia ea
                recusandae iste minima tenetur vel architecto et cum, debitis
                temporibus hic nulla nisi? Error sed pariatur nam aliquam
                dolores nostrum dignissimos quibusdam aliquid ullam.
              </p>
            </div>
          </div>
          <div class="accordian-item">
            <div class="accordian-head">
              <span class="accordian-title">Testing</span>
              <img
                src="{{ url_for('static', filename='expand_more.svg') }}"
                alt="expansion"
                class="accordian-collapse"
              />
            </div>
            <div class="accordian-body">
              <h1>Testing</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
                cupiditate ipsa tempore velit veritatis expedita corporis
                laborum molestias. Provident voluptate quasi, voluptates iure
                eos, aut in dolores nemo ut possimus ipsam soluta nostrum
                deleniti commodi eligendi similique. Molestias, impedit ab
                nostrum asperiores maxime qui ad modi tenetur explicabo? Magni
                ut iure corporis provident nesciunt eaque vero officia nulla non
                tempora, quae neque, perferendis nam optio deleniti? Pariatur
                cupiditate adipisci ab corrupti quod perspiciatis sed quia ea
                recusandae iste minima tenetur vel architecto et cum, debitis
                temporibus hic nulla nisi? Error sed pariatur nam aliquam
                dolores nostrum dignissimos quibusdam aliquid ullam.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="{{ url_for('static', filename='documentation.js') }}"></script>
  </body>
</html>
